

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_

*.dex

local.properties

.idea
.gradle
build/
*.class

bin/
gen/

.signing/

*.iml
Thumbs.db

.DS_Store

.classpath
.project
*.log
